body {

    background: url(/img/main_background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.navbar-inverse {background:  rgba(0,0,0,0.65);}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.9);
}

.navbar .navbar-nav .open {background-color: transparent;}

li.open>ul.dropdown-menu {background-color: rgba(0,0,0,0.5);}
li.open>ul.dropdown-menu>li>a {color: white;}
li.open>ul.dropdown-menu>li>a:hover {background: rgba(0,0,0,0.4); }
li.open>ul.dropdown-menu>li.disabled>a {color: #AAA9B0;}
li.open>ul.dropdown-menu>li.disabled>a:hover {background-color: transparent;}

.jumbotron{
    margin-top: 10%;
    background: rgba(0,0,0, 0.65);
    color: white;
    text-align: center;

}

a[title='GitHub'] {color: white;}
a[title='GitHub']:hover {color: #777;}

.jumbotron > p.text-muted {
    font-size: small;
}

.jumbotron > p.text-muted > a {
    color: #777;
    text-decoration: underline;
}

.jumbotron > p.text-muted > a:hover {
    color: white;
    text-decoration: inherit;
}