nav {
    padding: 5px;    
}

ul {
    list-style-type: square;
}

h1, h2, h3 {
    text-align: center; 
}

.main_content {
     
    margin-left: 70px;
    margin-right: 70px;
    padding: 5px;
    overflow: hidden;
    /*http://stackoverflow.com/questions/5803023/how-to-place-two-divs-next-to-each-other*/
}

.artistBox {
    padding: 5px; 
    width: 500px;
    text-align: center;
}

#york, #lagq {
    float: left;
}
/*http://stackoverflow.com/questions/5803023/how-to-place-two-divs-next-to-each-other*/
#paco, #pj {
    float: right;
}

.vid { 
    width: 420px;
    height: 315px;
    border: 0px;
    position: relative;
}

p {
    text-align: justify;
}
table, td {
    width: 840px;
    padding: 1px;
    border: 1px solid black;
}

table {margin-left: 250px;}

img {
    width: 420px; height: 315px;
}

footer {
    text-align: center;
}