h1, h2, h3, footer {
    text-align: center; 
}

header{
    background-color: white;
    border-radius: 10px;
    
}

body{background-color: #EEEEEF;}

.main_content {
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: 0px;
    left: 0px;
    width: 1050px;
    height: 1250px;
    margin: 0 auto;
    padding: 10px;
}

.artistBox {
    position: absolute;
    width: 500px;
    height: 600px;
    text-align: center;
}

#lagq {
    top: 650px;
}

#pj{
    top: 650px;
    left: 550px;
}

#paco {
    left: 550px;

}

.vid, img { 
    width: 420px;
    height: 315px;
    border: 0px;
}

img{border-radius: 10px;}

span {font-style: italic;}

p {
    text-align: justify;
}

table, td {
    background-color: white;
    border-radius: 10px;
    width: 840px;
    padding: 2px;
    
}

table {
    margin: 0 auto;
    
    
}

ul {
    list-style-type: square;
}