body {
    background-color: #EEEEEF;
    font-family: georgia;
    text-align: center;
}

header, .main_content, table, img {
    background-color: white;
    border-radius: 10px;
     -webkit-box-shadow: 1px 1px 3px #C9C9C9;
    box-shadow: 1px 1px 3px #C9C9C9;    
}

h1, h2 {
    text-shadow: 1px 1px 3px #C9C9C9;
}

.main_content, table {
    margin: 0 auto; /* center horizontally */
}

.artistBox {
    padding: 10px;
}

.vidWrapper {
    position: relative;
    padding-top: 56.25%; /* maintain 16:9 aspect ratio */
    padding-bottom: 25px;
    height: 0px;
}

iframe {
    border: 0px;
    position: absolute; /* allows video to change size */
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

p {
    text-align: justify;
}

ul {text-align: left;}

span {
    font-style: oblique;
}

ul {
    list-style-type: square;
}

td {
    width: 50%;
    padding: 2px;
    height: auto;
}

img {
    width: 100%;
    height: auto; 
}


/* layout changes slightly when browser window shrinks */
@media screen and (min-width: 726px) {
    
    .main_content {
        width: 80%;
    }

    table {
        width: 75%; 
    }

    .artistBox {
        display: inline-table;
        width: 45%;
        height: 50%;
    }

}

@media screen and (max-width: 725px) {
    
    .main_content, table {
        width: 90%;
    }
    
    .artistBox {
        width: inherit;
        height: auto;
        margin: 0 auto;                     
    }

}
/*
    Center a div Horizontally: http://tutorialzine.com/2010/03/centering-div-vertically-and-horizontally/
    Give iframe Fluid Width: http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
    Shadow Effects: css3generator.com
*/